<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Short URL Password | Shlink</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <style>
            html, body {height: 100%}
            .app {height: 100vh; display: flex; align-items: center; justify-content: center; flex-flow: column;}
            p {margin-bottom: 20px;}
            body {text-align: center;}
        </style>
    </head>
    <body>
        <div class="app">
            <main class="container">
                <h1>Protected Short URL</h1>
                <hr>
                <p>You need a password to be able to resolve this Short URL.</p>
                <form method="get">
                    <p>Enter your password below:</p>
                    <p><input type="password" name="__shlink_password"></p>
                    <p><input type="submit" value="Open Link"></p>
                </form>
            </main>
        </div>
    </body>
</html>
